.assets__index {
    justify-content: space-between;
    list-style-type: none;
    padding: 60px 0;
    display: flex;
}
  .assets__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .assets__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }

  .assets__icon {
    transition: transform 0.5s ease-in-out;
      
      &:hover,
      &:focus {
      transform: rotate(90deg);
    }
  }
  .assets__accent {
    display: flex;
    height: 120px;
    background-color: $whiteC;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
  .assets__accent:first-of-type {
    margin-top: 0px;
  }
  .assets__item:not(:last-child) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 320px) {
    .assets__index {
      display: block;
      padding: 60px 0;
    }
  }
  @media screen and (min-width: 768px) {
    .assets__index {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0;
    }
    .assets__item {
      flex-basis: calc((100% - 30px)/2);
    }
  }
  @media screen and (min-width: 1200px) {
    .assets__index {
      display: flex;
      flex-wrap: nowrap;
      padding: 94px 0;
      gap: 30px;
    }
    .assets__title {
      display: block;
      text-align: left;
    }
    .assets__item:not(:last-child) {
      padding-bottom: 0;
    }
  }