.clients {
    padding: 60px 0;
  }
  .clients__accent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    flex-wrap: wrap;
    grid-gap: 30px;
  }
  .clients__accent .clients__icon {
    fill: $iconC;
    transition: fill, transform;
    transition-duration: 1s; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // .clients__icon
    & {
      width: 100%;
    }
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $iconC;
    border-radius: 4px;
    transition-property: border-color, transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      border-color: $accentC;
      transform: scale(1.1);
    }
  }
  .clients__item {
    display: flex;
    // flex-basis: calc((100% - 30px)/2);
    justify-content: center;
  }
  .clients__link:hover .clients__icon,
  .clients__link:focus .clients__icon {
    fill: $accentC;
  }
  @media screen and (min-width: 768px) {
    // .clients__item {
    //   // flex-basis: calc((100% - 60px)/3);
    // }
    .clients__accent {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1200px) {
    .clients {
      padding: 94px 0;
    }
    .clients__accent {
      grid-template-columns: repeat(6, 1fr);
      // display: flex;
      // flex-wrap: nowrap; 
    }
  }
  