.clients {
    padding: 60px 0;
  }
  .clients__accent {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .clients__accent .clients__icon {
    fill: $iconC;
    border: 1px solid $iconC;
    border-radius: 4px;
    transition-property: fill, border-color, transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    // .clients__icon
    &:hover,
    &:focus {
      border-color: $accentC;
    }
  }
  .clients__item {
    flex-basis: calc((100% - 30px)/2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__link:hover .clients__icon,
  .clients__link:focus .clients__icon {
    fill: $accentC;
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    .clients__item {
      flex-basis: calc((100% - 60px)/3);
    }
  }
  @media screen and (min-width: 1200px) {
    .clients {
      padding: 94px 0;
    }
    .clients__accent {
      display: flex;
      flex-wrap: nowrap; 
    }
  }
  