.header {
  border-bottom: 1px solid #ececec;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 8px 0;
}
.header__index {
  display: flex;
  align-items: center;
}
.header__contacts {
  display: none;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $greyC;
}
.header__link {
  display: flex;
  color: inherit;
  text-decoration: none;
  transition: color $trans;
  align-items: center;

  &:hover,
  &:focus {
    color: $accentC;
  }
  & .header__icon {
    fill: $greyC;
    margin-right: 10px;
    transition: fill $trans;
  }
}
.header__item:hover .header__icon,
.header__item:focus .header__icon {
  fill: $accentC;
}

@media screen and (min-width: 768px){
  .header__body {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mobile-menu-btn {
    display: none;
  }
  }

@media screen and (min-width: 1200px) {
.header__body {
  padding-top: 13px;
  padding-bottom: 0;
}
.header__contacts {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header__link {
  padding: 25px;
  }
}