.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.intro__title {
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.intro__btn {
  display: block;
  padding: 10px 41px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.875;
  background: $accentC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
@media screen and (min-device-pixel-ratio: 2)and (min-width: 320px),
screen and (min-resolution: 192dpi)and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .intro {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/Intro/intro-img@2x.jpg);
      width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .intro {
    background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/Intro/intro-img.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .intro {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/Intro/intro-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px){
  .intro {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/Intro/intro-img-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .intro {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/Intro/intro-img-laptop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .intro {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/Intro/intro-img-laptop.jpg);
    height: 600px;
  }
  .intro__title {
    font-size: 44px;
    line-height: 1.36;
  }
}