.logo {
  font-family: $secondF;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color $trans;

  &:hover,
  &:focus {
    color: $accentC;
  }
}

.logo--dark {
  color: inherit;
}

.logo--white {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
}

.logo__title {
  color: $accentC;
}
@media screen and (min-width: 768px) {
  .logo--dark {
    margin-right: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
