.main-images {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 30px;
  }

  @media screen and (min-width: 768px) {
    .main-images {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap; 
    }
  }
  @media screen and (min-width: 1200px) {
    .main-images {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }