.mobile-menu__overlay {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform $trans,
    opacity $trans,
    visibility $trans;   
  background-color: #fff;
}
.mobile-menu__overlay.is-open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    position: relative;
    color: $brandC;
    opacity: 1;
    background-color: #fff;
    z-index: 998;
    @media screen and (min-width: 768px) {
      display: none;
    }
  &__btn {
    position: absolute;
    background-color: none;
    border: none;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: fill $trans;
  }
  &__btn:hover,
  &__btn:focus {
    fill: $accentC;
  }
  &__link-nav {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: $accentC;
  }
  &__link-nav-accent {
    color: $accentC;
  }
  &__item-nav:not(:last-child) {
    margin-bottom: 32px;
  }
  // &__list-nav {
  //   margin-bottom: auto;
  // }
  // &__item-nav:last-child {
  //   margin-bottom: 306px;
  // }
  &__link-contact-tel {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;

    color: $brandC;
  }
  &__list-contact-tel {
    margin-bottom: 32px;
  }
  &__link-contact-mailto {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: $accentC;
  }
  &__list-contact-mailto {
    margin-bottom: 64px;
  }
  &__list-social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__link-social {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;

    color: $brandC;
  }
  &__item-social:not(:last-child) &__link-social {
    display: flex;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mobile-menu-btn {
  background: none;
  border: none;
  box-shadow: none;
}
