
.modal-window {
    position: relative;
    box-sizing: border-box;
    max-width: 450px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: initial;
    padding: 40px;
  }
  .modal-window__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover .modal-window__icon,
    &:focus .modal-window__icon {
      fill: $accentC;
    }
  }
  .modal-window__icon {
    transition: fill $trans;
  }

  @media screen and (min-width: 1200px) {
    .modal-window {
    max-width: 528px;
    width: 100%;
    }
  }
  