.nav {
    display: none;
    gap: 46px;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    list-style-type: none;
    flex-grow: 1;
    align-items: center;
  }
  .nav__link {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: color $trans;

    &:hover,
    &:focus {
      color: $accentC;
    }
    
    &--active::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 4px;
      background: $accentC;
      border-radius: 2px;
      transform: translateY(35px);
    }
  }

  @media screen and (min-width: 768px) {
    .nav {
      display: flex;
    }
  }
  @media screen and (min-width: 1200px) {
    .nav__link--active::after {
      transform: translateY(26px);
    }
  }