.social-tabs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  gap: 10px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .social-tabs {
    padding-bottom: 30px;
  }
  .team__gallery {
    height: 428px;
  }
}
