.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  background-color: $whiteC;
}
.team__gallery {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: 100%;
}
.team__title {
  padding: 30px 15px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__subtitle {
  font-size: 16px;
  padding: 0 15px;
  padding-bottom: 30px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $greyC;
  text-align: center;
}
.team__accent {
  width: 100%;
  overflow: hidden;
}
.team__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
 .team__gallery {
  flex-basis: calc((100% - 30px)/2);
  display: block;
 }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__image {
    transition: transform 1s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}