:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --brand-color: #212121;
    --accent-color:#2196F3;
    --grey-color: #757575;
    --background-color: #2F303A;
    --white-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
$mainF: "Roboto", sans-serif;
$secondF: "Raleway", sans-serif;
$brandC: #212121;
$accentC: #2196F3;
$greyC: #757575;
$backgroundC: #2F303A;
$whiteC: #F5F4FA;
$iconC: #AFB1B8;
$trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
